<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>ReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReservationServlet</servlet-name>
        <servlet-class>ViewReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillServlet</servlet-name>
        <servlet-class>ViewBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReservationServlet</servlet-name>
        <servlet-class>UpdateReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReservationServlet</servlet-name>
        <servlet-class>DeleteReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReservationServlet</servlet-name>
        <url-pattern>/ViewReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillServlet</servlet-name>
        <url-pattern>/ViewBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReservationServlet</servlet-name>
        <url-pattern>/UpdateReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReservationServlet</servlet-name>
        <url-pattern>/DeleteReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
