* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial Black;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #dfe9f3, #ffffff);
}

.container {
    width: 900px;
    height: 500px;
    display: flex;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Left Form Section */
.form-container {
    width: 50%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

form h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #004080;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background: #6a0dad;
}

.link {
    margin-top: 15px;
    font-size: 14px;
}

.link a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

/* Right Welcome Section */
.welcome-container {
    width: 50%;
    background: #004080;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.welcome-container h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.welcome-container p {
    margin-bottom: 20px;
}

.welcome-btn {
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.welcome-btn:hover {
    background: white;
    color: purple;
}

/* Error message */
.error {
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
